{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.eu-gb.cf.cloud.ibm.com",
      "Org": "blarealb@students.zhaw.ch",
      "Space": "dev"
    },
    "Name": "movies-reviews-database-6f9",
    "Instrumentation": {
      "domain": "eu-gb.mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}